# App name
APP_NAME = 'RSS-Parser by Abdullah'
APP_ENV = 'development'
# Database
MONGODB_URI = 'mongodb://127.0.0.1:27017/rssdb'
# Server
HOST = 'http://localhost:5000'
PORT = 5000
# RSS Polling Interval in minutes
RSS_POLLING_INTERVAL = 60 # 1 hour
RSS_SOURCE = 'https://careers.moveoneinc.com/rss/all-rss.xml'